# 1. 가상환경 (가장 중요: 깃허브에 무거운 라이브러리가 올라가는 것을 방지)
.venv/
venv/
env/

# 2. 파이썬 실행 캐시 (코드를 실행할 때마다 자동으로 생기는 찌꺼기 파일)
**/__pycache__/
*.pyc

# 3. 환경 변수 파일 (학습 중 공공 API 키나 데이터베이스 비밀번호를 숨기는 용도)
.env

# 4. 운영체제 정크 파일 (맥, 윈도우 시스템 파일)
.DS_Store
Thumbs.db